* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: blue;
}

.container {
  max-width: 1170px;
  margin: auto;
  padding: 0 16px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 310px);
  gap: 15px;
  grid-template-areas:
    "masonry responsive overlap overlap"
    "masonry fluid explicitlyplaced negativespace"
    "flexiblebreadth masonry2 explicitlyplaced masonry3"
    "domorder masonry2 namedtracks namedtracks";
  margin: 0 auto;
  justify-content: center;
}
.box {
  background-color: white;
  color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 30px;
  min-height: 130px;
}
.masonry {
  grid-area: masonry;
}
.responsive {
  grid-area: responsive;
}
.overlap {
  grid-area: overlap;
}
.fluid {
  grid-area: fluid;
}
.explicitlyplaced {
  grid-area: explicitlyplaced;
}
.negativespace {
  grid-area: negativespace;
}
.masonry2 {
  grid-area: masonry2;
}
.masonry3 {
  grid-area: masonry3;
}
.domorder {
  grid-area: domorder;
}
.namedtracks {
  grid-area: namedtracks;
}
